@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["message"]</h3>


<p>Name: @ViewData["name"]</p>


<address>
    <strong>More information: </strong> <a href="www.youtube.com.br"> blablabla</a>
</address>
<p>Email: @ViewData["email"]</p>